<!DOCTYPE html>
<html>
	<style>
	a {
		color:inherit;
	}
	</style>
	<head>
		<title>About</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	</head>
	<body>
		<h1>Jake Lepere</h1>
		<a href=https://www.linkedin.com/in/jake-lepere><i class="fab fa-linkedin fa-4x fa-fw"></i></a>
		<a href=https://github.com/jrlepere><i class="fab fa-github fa-4x fa-fw"></i></a>
		<a href=https://www.kaggle.com/jlepere2><i class="fab fa-kaggle fa-4x fa-fw"></i></a>
		<a href=https://leetcode.com/jlepere2><i class="fas fa-code fa-4x fa-fw"></i></a>
	</body>
</html>
