<!DOCTYPE html>
<html>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		td, th {
			border: 1px solid #dddddd;
			text-align: center;
			padding: 8px;
			white-space:pre;
		}
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
	<head>
		<title>
		HOME PAGE
		</title>
	</head>
	<body>
		<h1>NFL Schedules</h1>
		<p>Schedule Count: {{num_schedules}}</p>
		{% for week in schedule.schedule %}
			<table>
	  			<tr><th colspan=2>Week - {{week}}</th></tr>
  				{% for matchup in schedule.schedule[week] %}
  					<tr>
  						<td>{{matchup[2]}}</td>
  						<td>{{matchup[0]}} vs {{matchup[1]}}</td>
  					</tr>
  				{% endfor %}
			</table>
		{% endfor %}
	</body>

</html>
